.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--ds-component-card-bg);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body :is(h1, h2, h3, h4, h5, h6), .cards .cards-card-body p > strong {
  color: var(--ds-component-card-headline);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
